Django==5.2.1
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2024.2
whitenoise==6.8.2
gunicorn==22.0.0
python-dotenv==1.0.1
pillow==10.4.0
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
razorpay==1.4.1
requests==2.32.3
urllib3==2.3.0
psycopg2-binary==2.9.10
django-cloudinary-storage==0.3.0
cloudinary==1.41.0
dj-database-url==2.3.0
